---
import Layout from "../../layouts/Layout.astro";
import directus from "../../lib/directus";
import { readItems } from "@directus/sdk";

const posts = await directus.request(
    readItems("posts", {
        fields: ["slug", "title", "published_date", { author: ["first_name", "last_name"] }],
        sort: ["-published_date"],
    }),
);
---

<Layout title="Blog">
    <h1>Blog Posts</h1>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <a href={`/blog/${post.slug}`}>
                        <h2>{post.title}</h2>
                    </a>
                    <span>
                        {post.published_date} &bull;{" "}
                        {post.author
                            ? [post.author.first_name, post.author.last_name].filter(Boolean).join(" ")
                            : "Sem autor"}
                    </span>
                </li>
            ))
        }
    </ul>
</Layout>
